mixin alternatedHighlights(slice)
    ul#list
        each alternatedHighlights in slice.value.toArray()
            div alternated-highlights
                li !{alternatedHighlights.get("illustration").getView("main").url}