mixin slidesSmall(slice)
    ul#list
        each slide in slice.value.toArray()
            //div(style='background-image: url(' + slide.get("illustration").getView("main").url + ');')
            div SLIDES
                li !{slide.get("illustration").getView("main").url}