// To add a new slice type template should include the .jade template that has a Mixin that has same camelcased name.

include ./slices/slides.jade
include ./slices/slides-small.jade
include ./slices/separator.jade
include ./slices/featured-items.jade
include ./slices/section-header.jade
include ./slices/text.jade
include ./slices/alternated-highlights.jade
include ./slices/faq.jade
include ./slices/contact-us.jade

head
    title !{doc.getText("page.title")}
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/page.css")
    script(src="/javascripts/vendor/jquery-1.11.2.min.js")
    script(src="/javascripts/slices.js")

body.page
    div.main
        div#page-content
            for slice in slices
                if slice.sliceType != undefined
                    - var labeledFileExists = helpers.fs.existsSync(helpers.path.resolve('views/slices/' + slice.sliceType + '-' + slice.label + '.jade'))
                    - var mixinWithLabel = helpers.toCamelcase(slice.sliceType + '-' + slice.label)
                    - var mixinName = (labeledFileExists ? mixinWithLabel : helpers.toCamelcase(slice.sliceType))
                    // Building mixin camelcased name.
                    +#{mixinName}(slice)
