// To add a new slice type template should include the .jade template that has a Mixin that has same camelcased name.

include ./page/slides.jade
include ./page/separator.jade
include ./page/featured-items.jade
include ./page/section-header.jade
include ./page/section-header.jade
include ./page/text.jade
include ./page/alternated-highlights.jade
include ./page/faq.jade

head
    title !{doc.getText("page.title")}
    link(rel="stylesheet", href="/stylesheets/style.css")
    ul#list
        for slice in slices
            if slice != undefined
                li#slice
                    +#{slice.sliceType}(slice.value)
block body
