body {
  color: #9698B9;
}

#page-content * {
  box-sizing: border-box;
}


/*img {*/
  /*display: block;*/
/*}*/



.main h1, .main h2, .main h3 {
  font-weight: normal;
}

.main h2, .main h3 {
  color: #0C0E57;
}

.main h1 {
  font-size: 3rem;
  font-weight: 300;
}


/*.main h2 {*/
  /*font-size: 1.7rem;*/
  /*font-weight: 300;*/
  /*margin-bottom: 1rem;*/
/*}*/

/*.main h3 {*/
  /*margin: 0 0 16px 0;*/
  /*line-height: 1.7rem;*/
  /*font-size: 1rem;*/
/*}*/

/*.main h3.title {*/
  /*margin-top: 2em;*/
  /*padding-bottom: 1em;*/
  /*border-bottom: 1px solid #D6D6D6;*/
/*}*/

.main p {
  line-height: 22px;
  font-size: 0.9rem;
  margin: 0 0 20px 0;
}




.slides h1 {
  margin-bottom: 2rem;
}

.slides .slide-container > p {
  margin-bottom: 40px;
}

.slides .button {
  padding: 27px 105px;
}

/*.slides .arrow-prev, .slides .arrow-next {*/
  /*text-decoration:none;*/
  /*top: 50%;*/
  /*-webkit-transform: translatey(-50%);*/
  /*-ms-transform: translatey(-50%);*/
  /*transform: translatey(-50%);*/
/*}*/



.slides .arrow-prev::before, .slides .arrow-next::before {
  font-size: 70px;
}




/*
 * Slides
 */

.slides {
  height: 100vh;
  position: relative;
}

/*.slide::before {*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*background: black;*/
  /*opacity: 0.2;*/
  /*z-index: 1*/
/*}*/

.slides .slide {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background-size: cover;
  /*padding: 10px 20px;*/
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #201145;
  opacity: 0;
}

.slides .slide.active {
  opacity: 1;
}

/*.slides.medium {*/
  /*height: 50vh;*/
/*}*/

/*.slides.small {*/
  /*height: 25vh;*/
/*}*/

/*.slides.small h1 {*/
  /*font-size: 2rem;*/
  /*margin-bottom: 0.8rem;*/
/*}*/

/*.slides .slide h2 {*/
  /*font-size: 52px;*/
  /*font-weight: 300;*/
  /*font-family: 'Lato', sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
/*}*/

.slides .button {
  color: #FFF;
  background: #5154AB;
  color: #FFF;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5rem;
  box-shadow: 0px 3px #412F8D;
  cursor: pointer;
  outline: none;
  font-size: 0.87rem!important;
}

.slides .button:hover {
  background: #41328A;
  box-shadow: 0 3px #2A1C64;
  border: none
}

.slides .arrow-prev, .slides .arrow-next {
  text-decoration:none;
  position: absolute;
  display: block;
  z-index: 2;
  color: #FFF;
  cursor: pointer;
  background-size: 100%;
}

.slides .arrow-prev::before {
  content: '‹';
}

.slides .arrow-next::before {
  content: '›';
}

.slides .arrow-prev {
  left: 1.5rem;
}

.slides .arrow-next {
  right: 1.5rem;
}

/*.slides .arrow-prev::before, .slides .arrow-next::before {*/
  /*font-size: 30px;*/
/*}*/

.slides, .slides h1, .slide-arrows a {
  color: white;
}

.slides p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.slide-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.imageFull {
  height: auto;
}
.imageFull img {
  width: 100%;
}

hr.separator {
  border: none;
  height: 70px;
  padding: 0;
  margin: 0;
}

.round-image {
  background-size: cover;
  border-radius: 50%;
  background-color: #F3F3F9;
}
/*hr.separator.medium {*/
  /*height: 50px;*/
/*}*/

/*hr.separator.small {*/
  /*height: 35px;*/
/*}*/

/* Featured item */

.featured-items .illustration {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.row-centered-aired {
  max-width: 1100px;
  margin: 1.2rem auto;
}


@media (max-width: 767px) {
  .slides.small h1 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  .slides .button {
    width: auto;
    padding: 1.2rem 3rem;
  }

  .slides.small .button {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-left: 2rem;
  }

  .slides.medium h1 {
    font-size: 2rem;
    margin-bottom: 1.3rem;
  }
  .slides .arrow-prev, .slides .arrow-next {
    bottom: 5%;
  }
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){

  /*.main .alternated-highlights .col-2, .main .alternated-highlights-full .col-text, .main .alternated-highlights-full .col-illustration {*/
    /*height: 512px;*/
  /*}*/

  /*.main .alternated-highlights, .alternated-highlights-full {*/
    /*height: 512px;*/
  /*}*/

  .main .slides {
    height: 1024px;
  }

  .main .slides.medium {
    height: 512px;
  }

  .main .slides.small {
    height: 256px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

  /*.main .alternated-highlights .col-2, .main .alternated-highlights-full .col-text, .main .alternated-highlights-full .col-illustration {*/
    /*height: 384px;*/
  /*}*/

  /*.main .alternated-highlights, .alternated-highlights-full {*/
    /*height: 384px;*/
  /*}*/

  .main .slides {
    height: 768px;
  }

  .main .slides.medium {
    height: 384px;
  }

  .main .slides.small {
    height: 192px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {

  /*.main .alternated-highlights .col-2, .main .alternated-highlights-full .col-text, .main .alternated-highlights-full .col-illustration {*/
    /*height: 265px;*/
  /*}*/

  /*.main .alternated-highlights, .alternated-highlights-full {*/
    /*height: 265px;*/
  /*}*/

  .main .slides {
    height: 530px;
  }

  .main .slides.medium {
    height: 265px;
  }

  .main .slides.small {
    height: 132px;
  }
}

@media (min-width: 768px) {

  html:not(.ie) .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-direction: normal;*/
    /*-webkit-flex-direction: row;*/
    /*-ms-flex-direction: row;*/
    /*flex-direction: row;*/
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .col-3 {
    width: calc(100% / 3);
  }
  .featured-items .col-3 {
    padding: 0 10px;
  }


  /*html.ie .row-centered, html.ie .flex-container .row-centered-aired {*/
    /*overflow: hidden;*/
  /*}*/

  /*.col-1 {*/
    /*width: 100%;*/
  /*}*/

  /*.col-2 {*/
    /*width: 50%;*/
  /*}*/


  /*.col-4 {*/
    /*width: calc(100% / 4);*/
  /*}*/


  /*.slides .slide-container > p {*/
    /*margin-bottom: 40px;*/
  /*}*/

  /*.slides .button {*/
    /*padding: 27px 105px;*/
  /*}*/

  /**/
  .slides .arrow-prev, .slides .arrow-next {
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
  }

  /*.slides .arrow-prev::before, .slides .arrow-next::before {*/
    /*font-size: 40px;*/
  /*}*/
  /**/
}


