mixin slides(slice)
    ul#list
        each slide in slice.toArray()
            //div(style='background-image: url(' + slide.get("illustration").getView("main").url + ');')
            li !{JSON.stringify(slide.get("illustration").getView("main").url)}